# Core IO
rasterio
geopandas
pydantic
opencv-python
git+https://github.com/DARPA-CRITICALMAAS/cdr_schemas.git@v0.4.9
--extra-index-url https://test.pypi.org/simple/
cmaas_utils>=0.2.0

# Yolo
easyocr
patchify
ultralytics

# Utility
rich
matplotlib

# Dev
# pytest
# pytest-cov
# ruff